page-home {
    body{
        background-color: #fff;
        font-family: Poppins, sans-serif;
    }
    .title{
        margin-top: 65px;
        text-align: center;
        color: gray;
        font-size: 34px;
        font-weight: 400 !important;
        margin-bottom: 10px;
    }
    #divider{
        width: 10% !important;
        height: 2px !important;
        display: block !important;
        background-color: #00FF99 !important;

    }
    .button{
        display: block;
        text-align: center;
        margin-top: 50px;
    }
    #button{
        background-color: #00FF99;
        color: #fff;
        border: solid 1px white;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
        border-radius: 50px;
        font-size: 25px;
        text-align: center;
    }

}
