page-camera-register {
    body{
        background-color: #00FA9A;
        font-family: Poppins, sans-serif;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .title{
        color: white;
        font-weight: 600;
        margin-top: 70px;
        font-size: 50px;
        font-weight: 100;
    }
    h4{
        color: white;
        margin-top: 80px;
        font-size: 40px;
    }
    #cameraRegister{
        color: white;
        background-color: #00FA9A;
        border: 2px solid white;
        border-radius: 30px;
        height: 50px;
        width: 150px;
        margin-top: 70px;
        font-size: 30px;
        font-weight: 200;
    }
    .line{
        border-bottom: solid 1px white;
        width: 20%;
        margin: auto;
        margin-top: 20px;
    }
}
